
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.row {
    width: 100%;
    max-width: 1200px;
   margin: 0 auto;

}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section__one{
    padding-bottom: 80px;

}

/* NAv*/

    nav {
        height: 100px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
}
a {
    text-decoration: none;
}
.nav__links{
    font-size: 14px;
    display: flex;
    list-style: none;
    margin: 0px 24px;
    padding: 0 0 4px;
}

.nav__link {
 margin: 0 24px;
 color: black;
 letter-spacing: 2;
}
.nav__link--button {
    background-color: #6143e6;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
}
.nav__logo {
    height: 40px;
    width: 40px;
    margin: 0 12px 0 0;
}
.logo__whole {
    display: flex;
   align-items: center;
}
.word__logo {
  
    font-size: 24px;
    font-weight: 800;
    letter-spacing: .5px;
}

/*FIRST BOX*/
h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.purple__font {
    color: #6143e6;
    font-weight: bold;
    letter-spacing: 1.5px;
}
p {
    font-size: 18px;
    margin: 20px 0 20px 0;
}
.input__bar {
    border: 1px solid grey;
    border-radius:50px;
   padding: 10px 10px;
   display: flex;
   justify-content: space-between;
   
  


}
input {
    border: none;
    margin: 20px;
    position: relative;
}
.first__pic {
    width: 60%;
}
.whole__first {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left__chunk {
width: 40%;
}
button {
    border: none;
    background-color: #6143e6;
    color: white;
    border-radius: 50px;
    padding: 15px 25px;
    
}
.customers {
    width: 100%;
}
.grey__font {
font-size: 12px;
margin-top: 50px;
}

/* FEATURES*/

.container {
    padding: 80px 0;
}
.section__text {
color: #6143e6;
font-weight: bold;
font-size: 16px;
}
.text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 50px;

}
.service__para {
    width: 50%;
    font-size: 18px;
    padding: 0 10px;
}
.all__containers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
  
}
.whole__container {
display: flex;
margin-top: 90px;
width: calc(100%/3);

}
.img__container {
    width: 100px;
}
.text__container {
   width: 50%;
}   

.icon {
    border: 1px solid;
    padding: 20px;
    border-radius: 50px;
}

/*WORK*/
.work__chunk {
    display: flex;
    width: 100%;
}
.work__img {
width: 50%;
}
.work__text {
    padding-right: 50px;
}

/*STEPS*/
.steps__chunk {
    display: flex;
 padding-top: 96px;
}
.number {
    font-size: 36px;
    padding-top: 5px;
    color: rgb(171, 166, 166);
    font-weight: bold;

}
.each {
    display: flex;
    padding-top: 10px;
}
.texts {
    padding-left: 30px;
}
.steps__img {
    width: 100%;
}
    .laptop {
    width: 100%;
    padding-top:70px;
    }
.right {
    padding-left: 40px;
    width: 100%;
}
.steps__text {
    padding-top: 40px;

}
.steps__font {
    font-size: 14px;
    padding-right: 150px;
}
/* VALUES*/
.allvalues {
    display: flex;
    width: 100%;
}
.valuesimg {
    width: 50%;
}
.bottomvaluestext {
    display: flex;
}
.text__cont {

}
.valuesbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.value {
    background-color: #74c28c;
    border-radius: 50px;
    padding: 5px 5px;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PLANS*/

.plans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.plan {
    width: calc(90%/3);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 2rem;
}
.planmid {
    width: calc(90%/3);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 2rem;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%)
}
.plan__top {
   padding-bottom: 20px;
   padding-top: 30px;
}
.plan__top--green {
    height: 8px;
    width: 100%;
   background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__top--mid {
    height: 8px;
    width: 100%;
}

.plan__top--red {
    height: 8px;
    width: 100%;
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

h3 {
    font-size: 20px;
    padding: 15px;
}
h4 {
    font-size: 48px;
    padding-bottom: 15px;
}
h5 {
    font-size: 20px;
    color: rgb(153, 151, 151);
}
hr{
width: 100%;
margin-top: 20px;
margin-bottom: 30px;
}
.bullet {
    font-size: 16px;
    margin-top: 20px;
}
.buynowfirst {
    width: 100%;
    max-width: 200px;
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
font-weight: bold;
}

.buynowmid {
    width: 100%;
    max-width: 200px;
    background-color: white;
    color: #6143e6;
    font-weight: bold;
}
.buynowlast {
    width: 100%;
    max-width: 200px;
    margin-bottom: 30px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-weight: bold;
}
.mid {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%)
}
.white {
    color: white;
}
.bulletmid {
    color: white;
}





.tests__chunk {
    display: flex;
}
.love {
    width: 50%;
    margin-right: 50px;
}
.textlove {
display: flex;
flex-direction: column;
}
.stars {
    width: 30%;
}
.bold {
    font-weight: bold;

}
.who {
    display: flex;
align-items: center;
}
.who__img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 20px 20px;
}


.centered__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question__box {
    border: 1px ;
    background-color:  rgba(192, 215, 235, 0.5);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    width: 70%;
}
.question {
    padding-left: 40px;
}
.arrow {
   
    padding-right: 20px;
    height: 20px;
}
.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.widthsmall {
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}
.box {
    display: flex;
    border: 1px;
    background-color: rgb(100 21 255);
    justify-content: space-between;
    padding: 120px;
    border-radius: 10px;

}
.red {
    background-color: rgb(245 101 101);
    width: 200px;
    font-weight: bold;
   
}
.whitehead {
    color: white;
    width: 50%;
    font-size: 30px;
    
}
.contact {
    border: 1px solid white;
    width: 200px;
    font-weight: bold;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
   
   
} 
.link {
  
    display: flex;

    width: calc(100%/5);
    margin: 0;
    color: white;
}
.main {
    display: flex;

    width: calc(100%/5);
    font-weight: bold;
    color: white;
}
footer {
   padding: 40px;
    background-color: rgb(100 21 255);
   
}
.word__logo--white {
    color: white;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: .5px;
}
.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logolast {
    display: flex;
    align-items: center;
}
.social {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
  
}
.face {
    width: 100%;
    padding: 4px;
}




@media (max-width: 728px) {

    h1 {
font-size: 30px;
text-align: center;


    }
    .whole__first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .left__chunk {
        width: 70%;
    }
    .input__bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .all__containers {
        display: flex;
        flex-direction: column;
      

    }
    input {
        text-align: center;
    }
    .service__para {
        width:80%;
    }
    section {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .whole__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .text__container  {
        text-align: center;
        width: 90%;
    }
    .img__container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
.steps__chunk {
    display: flex;
    flex-direction: column;
}
.work__chunk {
    display: flex;
    flex-direction: column;
 align-items: center;
    text-align: center;
  
  

}
.work__text {
    padding-right: 0;
    width: 80%;
}
.work__img {
    padding-top:50px;
    width: 100%;
}
.steps__chunk {
    padding-top: 0;
}
.laptop {
    padding-top: 0;
}
.allvalues {
    display: flex;
    flex-direction: column;
}
.topvalestext {

    text-align: center;
    padding: 0 40px;
    margin-bottom: 20px;
}
.valuesimg {
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
}
.valuestextleft {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valuesbox {
    margin-bottom: 20px;
}
.text__cont {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
  
}
.bottomvaluestext {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
button {
    max-width: 200px;
}
.service__para {
    text-align: center;
    width: 90%;
}
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan {
    width: 60%;
   margin-bottom: 30px;
}
.planmid {
    width: 60%;
   margin-bottom: 30px;
}
.tests__chunk {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.love {
    width: 80%;
    margin-right: 0;
}
.textlove {
    text-align: center;
    width: 80%;
}
}